#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE    0
#define NUM     1
#define NAV     2
#define MV      3
#define UTIL    4
#define FN      5
#define TYPE    6

#include "shared/setup.dtsi"
#include "shared/macros.dtsi"
#include "shared/behaviors.dtsi"
#include "shared/combos.dtsi"

/ {
    keymap {
        compatible = "zmk,keymap";
        base {
            display-name = "base";
            bindings = <
//          ╭───────────────────┬───────────────────┬───────────────────┬───────────────────┬───────────────────┬───────────────────╮                                           ╭───────────────────┬───────────────────┬───────────────────┬───────────────────┬───────────────────┬───────────────────╮
              &kp ESC             &kp Q               &kp W               &kp E               &kp R               &kp T                                                           &kp Y               &kp U               &kp I               &kp O               &kp P               &to NAV            
//          ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤                                           ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤
              &type_nav           &hml LGUI A         &hml LALT S         &hml LSHIFT D       &hml LCTRL F        &kp G                                                           &kp H               &hmr RCTRL J        &hmr RSHIFT K       &hmr RALT L         &hmr RGUI SQT       &num_fn            
//          ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤                                           ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤
              &kp LCTRL           &kp Z               &kp X               &kp C               &kp V               &kp B                                                           &kp N               &kp M               &comma_semi         &dot_colon          &qexcl              &kp K_CANCEL       
//          ╰───────────────────┴───────────────────┴───────────────────┴───────────────────┴───────────────────┼───────────────────┼───────────────────╮   ╭───────────────────┼───────────────────┼───────────────────┼───────────────────┴───────────────────┴───────────────────┴───────────────────╯
                                                                                              &lt FN DEL          &lt NAV TAB         &lt NUM RET             &kp SPACE           &kp BSPC            &smart_shft                                                                                        
//                                                                                          ╰───────────────────┴───────────────────┴───────────────────╯   ╰───────────────────┴───────────────────┴───────────────────╯                                                                                
            >;
        };

        num {
            display-name = "num";
            bindings = <
//          ╭───────────────────┬───────────────────┬───────────────────┬───────────────────┬───────────────────┬───────────────────╮                                           ╭───────────────────┬───────────────────┬───────────────────┬───────────────────┬───────────────────┬───────────────────╮
              ___                 ___                 &kp N7              &kp N8              &kp N9              ___                                                             ___                 &kp N7              &kp N8              &kp N9              ___                 ___                
//          ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼                                           ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤
              &to BASE            ___                 &hml LALT N4        &hml LSHIFT N5      &hml LCTRL N6       ___                                                             ___                 &hml RCTRL N4       &hml RSHIFT N5      &hml RALT N6        ___                 &to BASE           
//          ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼                                           ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤
              ___                 ___                 &kp N1              &kp N2              &kp N3              ___                                                             &kp N0              &kp N1              &kp N2              &kp N3              ___                 ___                
//          ╰───────────────────┴───────────────────┴───────────────────┴───────────────────┴───────────────────┼───────────────────┼───────────────────╮   ╭───────────────────┼───────────────────┼───────────────────┼───────────────────┴───────────────────┴───────────────────┴───────────────────╯
                                                                                              &kp DOT             &kp N0              ___                     ___                 &kp N0              &kp DOT                                                                                            
//                                                                                          ╰───────────────────┴───────────────────┴───────────────────╯   ╰───────────────────┴───────────────────┴───────────────────╯                                                                                
            >;
        };

        nav {
            display-name = "nav";
            bindings = <
//          ╭───────────────────┬───────────────────┬───────────────────┬───────────────────┬───────────────────┬───────────────────╮                                           ╭───────────────────┬───────────────────┬───────────────────┬───────────────────┬───────────────────┬───────────────────╮
              ___                 ___                 &kp LG(N7)          &kp LG(N8)          &kp LG(N9)          ___                                                             &kp PG_UP           &kp HOME            &kp UP              &kp END             ___                 ___                
//          ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤                                           ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤
              &to BASE            ___                 &hml LALT LG(N4)    &hml LSHIFT LG(N5)  &hml LCTRL LG(N6)   &kp LA(TAB)                                                     &kp PG_DN           &kp LEFT            &kp DOWN            &kp RIGHT           ___                 &to BASE           
//          ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤                                           ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤
              ___                 ___                 &kp LG(N1)          &kp LG(N2)          &kp LG(N3)          ___                                                             ___                 &kp LG(N1)          &kp LG(N2)          &kp LG(N3)          &kp LG(N4)          ___                
//          ╰───────────────────┴───────────────────┴───────────────────┴───────────────────┴───────────────────┼───────────────────┼───────────────────╮   ╭───────────────────┼───────────────────┼───────────────────┼───────────────────┴───────────────────┴───────────────────┴───────────────────╯
                                                                                              ___                 &kp LG(N0)          ___                     ___                 ___                 ___                                                                                                
//                                                                                          ╰───────────────────┴───────────────────┴───────────────────╯   ╰───────────────────┴───────────────────┴───────────────────╯                                                                                
            >;
        };

        mv {
            display-name = "move";
            bindings = <
//          ╭───────────────────┬───────────────────┬───────────────────┬───────────────────┬───────────────────┬───────────────────╮                                           ╭───────────────────┬───────────────────┬───────────────────┬───────────────────┬───────────────────┬───────────────────╮
              ___                 ___                 &kp LG(LS(N7))      &kp LG(LS(N8))      &kp LG(LS(N9))      ___                                                             ___                 ___                 ___                 ___                 ___                 ___                
//          ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤                                           ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤
              ___                 ___      &hml LALT LG(LS(N4))    &hml LSHIFT LG(LS(N5))    &hml LCTRL LG(LS(N6))    ___                                                         ___                 ___                 ___                 ___                 ___                 ___                
//          ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤                                           ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤
              ___                 ___                 &kp LG(LS(N1))      &kp LG(LS(N2))      &kp LG(LS(N3))      ___                                                             ___                 ___                 ___                 ___                 ___                 ___                
//          ╰───────────────────┴───────────────────┴───────────────────┴───────────────────┴───────────────────┼───────────────────┼───────────────────╮   ╭───────────────────┼───────────────────┼───────────────────┼───────────────────┴───────────────────┴───────────────────┴───────────────────╯
                                                                                              ___                 &kp LG(LS(N0))      ___                     ___                 ___                 ___                                                                                                
//                                                                                          ╰───────────────────┴───────────────────┴───────────────────╯   ╰───────────────────┴───────────────────┴───────────────────╯                                                                                
            >;
        };

        util {
            display-name = "util";
            bindings = <
//          ╭───────────────────┬───────────────────┬───────────────────┬───────────────────┬───────────────────┬───────────────────╮                                           ╭───────────────────┬───────────────────┬───────────────────┬───────────────────┬───────────────────┬───────────────────╮
              ___                 ___                 ___                 ___                 &bootloader         ___                                                             ___                 &bootloader         &kp C_PREV          &kp C_PLAY_PAUSE    &kp C_NEXT          ___                
//          ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤                                           ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤
              ___                 &bt BT_SEL 0        &bt BT_SEL 1        &bt BT_SEL 2        &bt BT_SEL 3        &bt BT_SEL 4                                                    ___                 &kp C_VOL_DN        &kp C_VOL_UP        &kp C_MUTE          ___                 ___                
//          ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤                                           ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤
              ___                 &out OUT_USB        &kp C_BRI_UP        &kp C_BRI_DN        &bt BT_CLR          ___                                                             ___                 &kp RC(RS(RA(M)))   ___                 ___                 ___                 ___                
//          ╰───────────────────┴───────────────────┴───────────────────┴───────────────────┴───────────────────┼───────────────────┼───────────────────╮   ╭───────────────────┼───────────────────┼───────────────────┼───────────────────┴───────────────────┴───────────────────┴───────────────────╯
                                                                                              ___                 ___                 ___                     ___                 ___                 ___                                                                                                
//                                                                                          ╰───────────────────┴───────────────────┴───────────────────╯   ╰───────────────────┴───────────────────┴───────────────────╯                                                                                
            >;
        };

        fn {
            display-name = "fn";
            bindings = <
//          ╭───────────────────┬───────────────────┬───────────────────┬───────────────────┬───────────────────┬───────────────────╮                                           ╭───────────────────┬───────────────────┬───────────────────┬───────────────────┬───────────────────┬───────────────────╮
              ___                 ___                 &kp F7              &kp F8              &kp F9              &kp F12                                                         &kp F12             &kp F7              &kp F8              &kp F9              ___                 ___                
//          ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼                                           ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤
              &to BASE            &kp LGUI            &hml LALT F4        &hml LSHIFT F5      &hml LCTRL F6       &kp F11                                                         &kp F11             &hml RCTRL F4       &hml RSHIFT F5      &hml RALT F6       &kp RGUI             &to BASE           
//          ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼                                           ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤
              ___                 ___                 &kp F1              &kp F2              &kp F3              &kp F10                                                         &kp F10             &kp F1              &kp F2              &kp F3              ___                 ___                
//          ╰───────────────────┴───────────────────┴───────────────────┴───────────────────┴───────────────────┼───────────────────┼───────────────────╮   ╭───────────────────┼───────────────────┼───────────────────┼───────────────────┴───────────────────┴───────────────────┴───────────────────╯
                                                                                              ___                 ___                 ___                     ___                 ___                 ___                                                                                                
//                                                                                          ╰───────────────────┴───────────────────┴───────────────────╯   ╰───────────────────┴───────────────────┴───────────────────╯                                                                                
            >;
        };

        type {
            display-name = "type";
            bindings = <
//          ╭───────────────────┬───────────────────┬───────────────────┬───────────────────┬───────────────────┬───────────────────╮                                           ╭───────────────────┬───────────────────┬───────────────────┬───────────────────┬───────────────────┬───────────────────╮
              ___                 &kp Q               &kp W               &kp E               &kp R               &kp T                                                           &kp Y               &kp U               &kp I               &kp O               &kp P               ___                
//          ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤                                           ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤
              &to BASE            &kp A               &kp S               &kp D               &kp F               &kp G                                                           &kp H               &kp J               &kp K               &kp L               &kp SQT             &to BASE           
//          ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤                                           ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤
              ___                 &kp Z               &kp X               &kp C               &kp V               &kp B                                                           &kp N               &kp M               &comma_semi         &dot_colon          &qexcl              ___                
//          ╰───────────────────┴───────────────────┴───────────────────┴───────────────────┴───────────────────┼───────────────────┼───────────────────╮   ╭───────────────────┼───────────────────┼───────────────────┼───────────────────┴───────────────────┴───────────────────┴───────────────────╯
                                                                                              &kp DEL             ___                 &kp RET                 &kp SPACE           &kp BSPC            ___                                                                                                
//                                                                                          ╰───────────────────┴───────────────────┴───────────────────╯   ╰───────────────────┴───────────────────┴───────────────────╯                                                                                
            >;
        };
    };
};